<div class="assistant-list-container">
  <h1 class="list-header">Assistants</h1>

  <%= link_to 'Create New Assistant', new_assistant_path, class: "new-assistant-link" %>

  <ul class="assistant-list">
    <% @assistants.each do |assistant| %>
      <li class="assistant-item">
        <%= link_to assistant.instructions, assistant_path(assistant), class: "assistant-link" %>
      </li>
    <% end %>
  </ul>
</div>