<div class="chat-container">
  <h1 class="chat-header"><%%= @assistant.name %></h1>
  <p class="chat-instructions"><%%= @assistant.instructions %></p>

  <div id="chat-messages" class="chat-messages">
    <%%= render partial: "assistants/message", collection: @messages %>
  </div>

  <%%= turbo_frame_tag "new_message" do %>
    <%%= render "assistants/message_form" %>
  <%% end %>
</div>
