class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :assistants do |t|
      t.string :instructions
      t.string :tool_choice
      t.json :tools
      t.timestamps
    end
  end
end
